@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply duration-300 transition-colors;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes titleAnimation {
  from {
    opacity: 0;
    transform: translate(-60%, -50%) rotate(-90deg);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(-90deg);
  }
}

.fade-in-item {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.title-animation {
  opacity: 0;
  animation: titleAnimation 0.5s forwards;
}

::-webkit-scrollbar {
  width: 14px;
  height: 18px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: #ffb70142;
  -webkit-border-radius: 7px;
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;
}

.accordion-content.open {
  max-height: 1000px; /* Adjust as needed */
  opacity: 1;
}
