@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply duration-300 transition-colors;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes titleAnimation {
  from {
    opacity: 0;
    transform: translate(-60%, -50%) rotate(-90deg);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(-90deg);
  }
}

.fade-in-item {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.title-animation {
  opacity: 0;
  animation: titleAnimation 0.5s forwards;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;
}

.accordion-content.open {
  max-height: 1000px; /* Adjust as needed */
  opacity: 1;
}
